* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

body > header {
    height: 12%;
    width: 100%;
    background-color: #e24510;
    color: #faebd7;
}

main {
    height: 88%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

main > article {
    height: 100%;
    background-color: #F9F6F4;
    flex-grow: 1;
    width: 30em;
}

main > aside {
    background-color: #faebd7;
    min-width: 20em;
}

body > footer {
    width: 100%;
    height: 10%;
    background-color: #171717;
    color:  #faebd7;
}


.tile {
    display: flex;
    background-color: rgb(102, 102, 153);
    min-width: 12em;
    /* zorgt ervoor dat er nooit meer dan 4 tegels staan */
    width: 20%;
    margin: 0.5%;
    justify-content: center;
    align-items: center;
    color: white;
}

table {
    border:none;
    border-collapse: collapse;
}

table td, th {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

table th:first-child {
    border-left: none;
}

table th:last-child {
    border-right: none;
}

table td:first-child {
    border-left: none;
}

table td:last-child {
    border-right: none;
}

th, td {
    padding: 5px;
}


.form-style-1 {
	margin:10px;
	/*max-width: 400px;*/
	padding: 20px 12px 10px 20px;
	font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
.form-style-1 label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}
.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
.form-style-1 input[type=tel],
textarea, 
select{
    width: 400px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px;
	margin:0px;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;	
}
.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
	-moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
	width: 49%;
}

.form-style-1 .field-long{
	width: 100%;
}
.form-style-1 .field-select{
	width: 100%;
}
.form-style-1 .field-textarea{
	height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
	background: #4B99AD;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
	background: #4691A4;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.form-style-1 .required{
	color:red;
}
